body {
    margin: 0;
}

header {
    background-color: #BBBBBB;
    padding: 20px 0px;
}

main {
    width: 940px;
    margin: 0 auto;
}

.checkbox {
    margin: 20px 0;
}

.caixa {
    width: 940px;
    position: relative;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;

}

nav a:hover{
    color: #C78C19;
    text-decoration: underline;
}

form {
    margin: 40px 0;
}


form label, legend {
    font-size: 20px;
    display: block;
    margin: 0 0 10px;
}

.input-padrao {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.enviar {
    width: 40%;
    padding: 15px 0;
    color: white;
    background: orange;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
}

.enviar:hover {
    background: darkorange;
    transform: scale(1.2);
}

table {
    margin: 20px 0 40px;
}

thead {
    background: #555;
    color: white;
    font-weight: bold;
}

td, th {
    border: solid 1px #000000;
    padding: 8px 15px;
}


footer {
    text-align: center;
    background: url("../produtos/img/bg.jpg");
    padding: 40px 0;
}

.copyright {
    color: white;
    margin: 20px 0 0;
    font-size: 13px;
}